/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v7/qBSyz106i5ud7wkBU-FrPevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v7/yVHpdQrmTj9Kax1tmFSx2pBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Universal Styles */
html {
  font-size: 16px;
}

body {
  line-height: 1.35rem;
  font-family: 'Oxygen';
  font-size: 1rem;
  color: whitesmoke;
}

.container {
  display: flex;
  align-items: center;
}

.left {
  padding: 2rem 1.5rem;
  width: 60%;

}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.left img, video {
  width: 100%;
  height: auto;
  display: block;
}

.right img {
  border: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.15rem;
  color: snow;
}

h2 {
  font-size: 1.85rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

.left h5 {
   font-style: italic;
}

.guest, .fisma {
  background-color: whitesmoke;
  color: black;
}

/* Header Section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: snow;
  color: black;
  border-bottom: 2px solid dimgray;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 100;
  font-family: 'GT Walsheim';
  color: firebrick;
}

.logo img {
  height: 2rem;
  border: 0;
}

.logo h3 {
  color: black;
  font-weight: 900;
}

header ul {
  display: flex;
  padding-right: 1.5rem;
}
header li {
  padding-right: 1rem;
  font-size: 1.15rem;
}

img, video {
  border: 2px solid beige;
}
/* Main Content Section */
#main {
  position: relative;
  top: 4rem;
  border-left: 2px solid dimgray;
}

/* Start Here Section */
.start-here-section  {
  background-color: steelblue;
  border-bottom: 2px solid dimgray;
}

.right .button {
  align-self: center;
  background-color: mintcream;
  padding: 8px 60px;
  border-radius: 7px;
  color: brown;
  font-weight: 500;
  font-size: 1.10rem;
  margin-top: 1rem;
  border: 2px solid dimgray;
  transition:
}

/*-- Info Section --*/
.info-section  {
  background-color: grey;
  border-bottom: 2px solid dimgray;
}

.info-section h1 {
  padding: 2rem 0 1.5rem 0;
}

.info-section h6 {
  margin-top: 2rem
}

.info-section .right {
   border-left: 2px solid beige;
}

.small-info {
  display: inline-flex;
  align-items: center;
  border-bottom: 2px solid beige;
}

.small-info img {
  width:35%;
  height: auto;
  padding: 1rem;
}

.small-info .text {
  width: 65%;
  line-height:
}

/*-- Course Section --*/
.course-section {
  width: 100%;
  background-color: steelblue;
  border-bottom: 2px solid dimgray;
}

.course-section h1 {
  padding-top: 2rem;
  text-align: center;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4.5rem 2rem 4.5rem;
}

.course-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem 2rem 0 0;
  background-color: whitesmoke;
  width: 30%;
  border-radius: 7px;
}

.course-info img {
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.course-info .text {
 color: black;
 padding: 1rem 0 1.5rem 1rem;
}

.course-info h3 {
  margin: 0.5rem 0 0.5rem 0;
}

/*-- Thesis Section --*/
.thesis-section {
  width: 100%;
  background-color: grey;
  border-bottom: 2px solid dimgray;
}

.thesis-section h1 {
  padding-top: 2rem;
  text-align: center;
}

.thesis-section video {
  margin-bottom: 1.5rem;
}

.nyc {
  border-bottom: 0px;
}

/*-- Footer --*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  color: black;
  padding: 1rem 1.5rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer li {
  padding-right: 1rem;
}
