/* Universal Styles */
html {
  font-size: 16px;
}

body {
  line-height: 1.35rem;
  font-family: Helvetica;
  font-size: 1rem;
  color: tan;
}

.container {
  display: flex;
  align-items: center;
}

.left {
  padding: 2rem 1.5rem;
  width: 60%;

}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.left img, video {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  color: beige;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.15rem;
}

h2 {
  font-size: 1.85rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

/* Header Section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: beige;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 100;
  font-family: GT Walsheim;
  color: firebrick;
}

.logo img {
  height: 2rem;
  padding-left: 1.5rem;
}

.logo h3 {
  color: black;
  font-weight: 900;
}

header ul {
  display: flex;
  padding-right: 1.5rem;
}
header li {
  padding-right: 1rem;
  font-size: 1.15rem;
}



/* Main Content Section */
#main {
  position: relative;
  top: 4rem;

}
/* Start Here Section */
.start-here-section  {
  background: sienna;
}

.right .button {
  align-self: center;
  background-color: beige;
  padding: 8px 70px;
  border-radius: .7rem;
  color: brown;
  font-weight: 500;
  font-size: 1.10rem;
  margin-top: 1rem;
  transition:
}

/*-- Info Section --*/
.info-section  {
  background-color: darkslategray;
}

.info-section h1 {
  padding: 2rem 0 1.5rem 0;
}

.info-section h6 {
  margin-top: 2rem
}

.info-section .right {
   border-left: 2px solid beige;
}

.small-info {
  display: inline-flex;
  align-items: center;
  border-bottom: 2px solid beige;
}

.small-info img {
  width:35%;
  height: auto;
  padding: 1rem;
}

.small-info .text {
  width: 65%;
  line-height:
}

.guest {
  background-color: beige;
  color: black;
}

/*-- Course Section --*/
.course-section {
  width: 100%;
  background-color: sienna;
}

.course-section h1 {
  padding-top: 2rem;
  text-align: center;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4.5rem 2rem 4.5rem;
}

.course-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem 2rem 0 0;
  background-color: beige;
  width: 30%;
  border-radius: 7px;
}

.course-info img {
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.course-info .text {
 color: black;
 padding: 1rem 0 1.5rem 1rem;
}

.course-info h3 {
  margin: 0.5rem 0 0.5rem 0;
}

/*-- Thesis Section --*/


.thesis-section h1 {

  padding-top: 2rem;
  text-align: center;
}
